Card{
    width: 25%;
    height: 25%;
}

.backGround{
    background-image: url(https://smartwatermagazine.com/sites/default/files/styles/thumbnail-1180x647/public/stockholm-sweden.jpg?itok=9tQ0gTVx);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
}


   
